.media-object {
  max-width: 200px;
}

[ng-click] {
  cursor: pointer;
}

.search-form {
  margin-top: 4px;
}

main.container {
  margin-bottom: 4em;
}

.create-button {
  float: right;
  margin: 10px;
}

.submit-button {
  margin: 10px;
}

.post-container {
  margin-top: 4em;
}
